<div *ngIf="viewMode; else editable">
    <div *ngIf="currentTodo.id">
      <h4>Todo</h4>
      <div>
        <label><strong>Title:</strong></label> {{ currentTodo.title }}
      </div>
      <div>
        <label><strong>Description:</strong></label>
        {{ currentTodo.description }}
      </div>
      <div>
        <label><strong>Status:</strong></label>
        {{ currentTodo.completed ? "Completed" : "Pending" }}
      </div>
  
      <a class="badge badge-warning"
        routerLink="/todo/{{ currentTodo.id }}">
        Edit
      </a>
    </div>
  
    <div *ngIf="!currentTodo">
      <br />
      <p>Please click on a To do...</p>
    </div>
  </div>
  
  <ng-template #editable>
    <div *ngIf="currentTodo.id" class="edit-form">
      <h4>Todo</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentTodo.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentTodo.description"
            name="description"
          />
        </div>
  
        <div class="form-group">
          <label><strong>Status:</strong></label>
          {{ currentTodo.completed ? "Completed" : "Pending" }}
        </div>
      </form>
  
      <button
        class="badge badge-primary mr-2"
        *ngIf="currentTodo.completed"
        (click)="updateComplete(false)"
      >
        Pending
      </button>
      <button
        *ngIf="!currentTodo.completed"
        class="badge badge-primary mr-2"
        (click)="updateComplete(true)"
      >
        Completed
      </button>
  
      <button class="badge badge-danger mr-2" (click)="deleteTodo()">
        Delete
      </button>
  
      <button
        type="submit"
        class="badge badge-success mb-2"
        (click)="updateTodo()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentTodo.id">
      <br />
      <p>Cannot access this Tutorial...</p>
    </div>
  </ng-template>
  